body, html {
	height: 100%;
	scroll-behavior: smooth; /* плавная прокрутка */
}

html {
	position: relative; /* ↓ */
	overflow-x: hidden; /* запрет прокрутки при открытии модальных окон */
}

body {
	overflow-x: hidden; /* запрет прокрутки при открытии модальных окон */
	height: auto; /* убирает дополнительный вертикальный у body, добавляемый предыдущим свойством */
	color: var(--colorBlack); /* default color */
	background-color: var(--colorWhite);
	font-family: "Proxima Nova Regular", Arial, sans-serif; /* all text */
	font-size: 16px; /* default size */
	font-weight: 400; 
	line-height: 1.5;
}

.wrapper-height {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1; /* растягивает пространство между хэдером и футером */
}

.wrapper {
	max-width: 1292px; /* +20px side padding */
	margin: 0 auto;
	padding: 0 10px;
	flex-basis: 100%; /* чтобы не задавать отдельно width */
}

.wrapper--short {
	max-width: 1074px; /* +20px side padding */
}

.wrapper--menu {
	position: relative;
}

.title {
	font-family: "Proxima Nova Bold", Arial, sans-serif;
}

.title--main {
	margin-bottom: 8px;
	font-size: 42px;
	line-height: 1;
}

.title--section {
	margin-bottom: 54px;
	font-weight: 700;
	font-size: 36px;
	line-height: 100%;
	text-align: center;
}

a {
	display: inline-block;
	text-decoration: unset;
	line-height: normal;
	color: inherit;
	outline-style: solid;
	outline-width: 2px;
	outline-color: transparent;
	outline-offset: 5px;
	transition: all 0.75s;
}

a:hover {
    color: var(--colorYellow);
    border-bottom: 1px solid var(--colorBlack);
    transform: scale(1.1);
}

a:focus {
	border-radius: 10px;
	outline-color: var(--colorWhiteTransparent);
}

.button {
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: auto;
	padding: 16px 24px;
	font-family: "Proxima Nova Bold", Arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	background-color: unset;
	border: 2px solid var(--colorBlack);
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.5s;
}

.button:hover {
	color: var(--colorBlackDark);
	background-color: transparent;
	border: 2px solid var(--colorBlack);
}

.button:focus {
	outline: 2px solid var(--colorBlackTransparent);
	outline-offset: 5px;
}

.button[disabled] {
	opacity: 0.25;
	cursor: default;
}

.button--light {
	color: var(--colorBlack);
	background-color: unset;
}

.button--light:hover {
	color: var(--colorWhite);
	background-color: var(--colorBlack);
}

.button--dark {
	color: var(--colorWhite);
	background-color: unset;
	border-color: var(--colorWhite);
}

.button--dark:hover {
	color: var(--colorBlack);
	background-color: var(--colorWhiteTransparent);
	border-color: var(--colorWhiteTransparent);
}

.button--light-revert {
	color: var(--colorWhite);
	background-color: var(--colorBlack);
}

.button--light-revert:hover {
	color: var(--colorBlack);
	background-color: var(--colorWhite);
}

.button-wrapper--center {
	text-align: center;
}

.input {
    padding: 16px;
    margin: 0;
    font-family: "Proxima Nova Regular", Arial, sans-serif;
    font-size: 14px;
    background-color: var(--colorWhite);
    outline: unset;
	border: 2px solid var(--colorGrayBullets);
    border-radius: 8px;
    transition: all 0.25s;
}

.input::placeholder {
	color: var(--colorGrayBullets);
}

.input:hover {
	border-color: var(--colorGrayLight);
}

.input:focus {
	border-color: var(--colorGrayAlternate);
}

.input[type="checkbox"] {
    vertical-align: bottom;
}

.swiper-pagination-bullet {
    transition: background 0.75s;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



/* --- ADAPTING --- */

@media (max-width: 1366px) {
	
	.wrapper {
		max-width: 1180px;
	}
		
}
/* ↑↑↑ 1366px ↑↑↑ */



@media (max-width: 1280px) {
	
	.wrapper {
		max-width: 1180px;
	}
	
	.wrapper--short {
		max-width: 1024px;
	}
		
}
/* ↑↑↑ 1280px ↑↑↑ */



@media (max-width: 1180px) {
	
	.wrapper {
		max-width: 1024px;
	}
		
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.wrapper {
		max-width: 980px;
	}
	
	.title--main {
		font-size: 48px;
	}
		
}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 768px) {
	
	.wrapper {
		max-width: 700px;
	}
		
	
}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 534px) {
	
	body {
		font-size: 14px;
	}
	
	.wrapper {
		max-width: 88%;
	}
	
	.title--main {
		font-size: 32px;
	}
	
	.title--section {
		margin-bottom: 28px;
		font-size: 28px;
	}

	.header .swiper-pagination {
		bottom: 32px;
	}
	
}
/* ↑↑↑ 534px ↑↑↑ */



@media (max-width: 375px) {


	
}
/* ↑↑↑ 375px ↑↑↑ */



@media (max-width: 320px) {
	

	
}
/* ↑↑↑ 320px ↑↑↑ */